.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .navbar-inner {
    box-shadow: none;
    padding: 0;

    .container-fluid {
      all: initial;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }

      .brand {
        all: initial;
        width: 105px;
        height: 32px;
        max-width: none;
        padding: 0;
      }

      .nav-collapse.collapse {
        all: initial;
        width: 67px;
        height: 22px;
      }
    }
  }
}
