#docsSearch {
  all: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 588px;

  margin: 0 auto 48px;

  h1 {
    all: initial;

    @include font-sf;
    color: $text-main-headline-color;
    font-size: 32px;
    font-weight: 590;
    line-height: 120%;
    letter-spacing: 0.416px;
  }

  #searchBar {
    all: initial;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;

    &::before {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/33b11083-703a-44d8-d255-ea51fac99d00/public);
    }

    button {
      all: initial;
      width: 56px;
      height: 56px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      border-radius: 16px;
      background: $link-color;
      cursor: pointer;

      .icon-search {
        display: block;
        color: $bg-color;
        font-size: 24px;
        font-weight: 590;
        line-height: 120%;
        letter-spacing: -0.46px;

        &::before {
          display: block;
          width: 24px;
          height: 24px;
          margin: 0;
          content: "";
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/dd12df6e-1ca4-481c-6604-14c59d2f6900/public);
        }
      }

      span {
        display: none;
      }
    }
  }
}

.most-pop-articles {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 100%;
  max-width: 824px !important;
  max-width: none;
  padding: 40px 20px 20px;
  margin-bottom: 20px;

  border-radius: 20px;
  background: $block-background;

  @include breakpoint-md {
    padding: 40px 40px 16px 40px;
  }

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }

  h2 {
    all: initial;
    margin-bottom: 0;

    @include font-sf;
    color: $text-main-headline-color;
    font-size: 28px;
    font-weight: 590;
    line-height: 120%;
  }
}

.popArticles,
.articleList {
  all: initial;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  @include breakpoint-md {
    display: initial !important;
  }

  li {
    position: relative;
    margin: 0 !important;
    width: initial !important;
    padding: 0;

    @include breakpoint-md {
      padding: 0 12px 24px 0;
    }

    a {
      all: initial !important;
      display: flex !important;
      gap: 8px !important;

      @include link-reset-styles;

      .icon-article-doc {
        all: initial !important;
        position: relative !important;

        &::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          margin: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/1e7dbc1e-62ec-41ee-3e2c-61243ad6f200/public);
        }
      }

      span {
        color: $link-color;
        @include font-sf;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
      }
    }
  }
}

.sep {
  display: none;
}

.category-list {
  all: initial;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 824px;
  margin: 0 auto;

  @include breakpoint-md {
    flex-direction: row;
    gap: 20px;
  }

  .category {
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 28px 0;

    border-radius: 20px;
    background: $block-background;
    @include with-transition(background);

    -webkit-tap-highlight-color: transparent !important;
    cursor: pointer;

    &:hover {
      background: $block-background-hover;

      .article-count {
        color: $hint-color;
      }
    }

    &:nth-child(1) {
      h3 {
        &::before {
          background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/c66f7619-9b34-409b-ff41-5a888fd29100/public);
        }
      }
    }

    &:nth-child(2) {
      h3 {
        &::before {
          background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/7808f04a-9f9d-4d09-b861-bfb346282f00/public);
        }
      }
    }

    &:nth-child(3) {
      h3 {
        &::before {
          background-image: url(https://imagedelivery.net/UUQsFXARBFTBsNkIaLN9VQ/2d994fc8-b5a1-4bc6-b665-b10d3615c700/public);
        }
      }
    }

    @include breakpoint-md {
      width: 33.333%;
    }

    h3 {
      color: $text-main-headline-color;
      @include font-sf;
      font-size: 20px;
      font-weight: 510;
      line-height: 120%;

      margin-bottom: 8px;

      &::before {
        content: "";
        display: block;
        width: 56px;
        height: 56px;
        margin: 0 auto 24px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .article-count {
      all: initial;
      @include font-sf;
      color: $hint-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;

      cursor: pointer;
    }
  }
}
