$link-color: #007aff;
$hint-color: #8e8e93;
$text-main-disabled-color: #b9b9ba;
$text-main-headline-color: #1b1b1b;
$block-background: rgba(239, 239, 244, 0.48);
$block-background-hover: rgba(239, 239, 244, 0.92);
$bg-color: #fff;
